<body>
  <section>
    <button mat-button color="accent" routerLink="" (click)="loader()">
      <mat-icon class="example-tab-icon">arrow_back</mat-icon>
      <span class="example-spacer">back to Home</span>
    </button>
    <span><b>CONSUMER PORTAL</b></span>
  </section>

  <mat-tab-group color="accent">
    <!-- 1.product list in consumer-->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">library_add</mat-icon>
        Product
      </ng-template>
      <!-- 1. Product list content -->
      <mat-toolbar>
        <mat-icon color="accent">view_list</mat-icon>
        <span>Product List</span>
      </mat-toolbar>
      <!-- product list -->
      <div class="container">
        <div class="full"> <br>
          <mat-form-field color="accent">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. carrot" #input>
          </mat-form-field>
          <div class="mat-elevation-z8">

            <!-- products list in consumer -->
            <table mat-table [dataSource]="dataSource" matSort class="consumerProduct">

              <!-- ID -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

              <!-- Farmer Name Column -->
              <ng-container matColumnDef="farmerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmer Name </th>
                <td mat-cell *matCellDef="let row"> {{row.farmerName}} </td>
              </ng-container>

              <!-- Farmer Mail ID Column -->
              <ng-container matColumnDef="farmerMail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmer Mail ID </th>
                <td mat-cell *matCellDef="let row"> {{row.farmerMailId}} </td>
              </ng-container>

              <!-- Product Name Column -->
              <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
              </ng-container>

              <!-- Product category Column -->
              <ng-container matColumnDef="productCategory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
                <td mat-cell *matCellDef="let row"> {{row.productCategory}} </td>
              </ng-container>

              <!-- Product Quantity Column -->
              <ng-container matColumnDef="productQuantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Quantity(Kg) </th>
                <td mat-cell *matCellDef="let row"> {{row.productQuantity}} </td>
              </ng-container>

              <!-- Product Price Column -->
              <ng-container matColumnDef="productBasedPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Price </th>
                <td mat-cell *matCellDef="let row"> {{row.productBasePrice | currency:'INR':'symbol'}} </td>
              </ng-container>

              <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
                <td mat-cell *matCellDef="let row"> {{row.productQuantity*row.productBasePrice |
                  currency:'INR':'symbol'}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-raised-button color="accent" (click)="bidNow(row)">Bid Now</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator color="accent" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>
      </div> <br><br>
    </mat-tab>

    <!-- 2. Bidded History -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">playlist_add_check</mat-icon>
        Bidded History
      </ng-template>
      <mat-toolbar>
        <mat-icon color="accent">history</mat-icon>
        <span>History</span>
      </mat-toolbar>

      <!-- all details of products bidded -->
      <div class="container-fluid"> <br>
        <mat-form-field color="accent">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter1($event)" placeholder="Ex. carrot" #input1>
        </mat-form-field>
        <div class="">
          <table mat-table [dataSource]="dataSource1" matSort #historyTb="matSort">
            <ng-container matColumnDef="farmerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmer Name </th>
              <td mat-cell *matCellDef="let row"> {{row.farmerName}} </td>
            </ng-container>

            <ng-container matColumnDef="farmerMail">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmer Mail ID </th>
              <td mat-cell *matCellDef="let row"> {{row.farmerMailId}} </td>
            </ng-container>

            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
              <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="productCategory">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
              <td mat-cell *matCellDef="let row"> {{row.productCategory}} </td>
            </ng-container>

            <ng-container matColumnDef="productQuantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Quantity (Kg) </th>
              <td mat-cell *matCellDef="let row"> {{row.productQuantity}} </td>
            </ng-container>

            <ng-container matColumnDef="productBasePrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Base price </th>
              <td mat-cell *matCellDef="let row"> {{row.productBasePrice | currency:'INR':'symbol'}} </td>
            </ng-container>

            <ng-container matColumnDef="consumerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Consumer Name </th>
              <td mat-cell *matCellDef="let row"> {{row.consumerName}} </td>
            </ng-container>

            <ng-container matColumnDef="consumerMailID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Consumer Mail ID </th>
              <td mat-cell *matCellDef="let row"> {{row.consumerMailId}} </td>
            </ng-container>

            <ng-container matColumnDef="biddedPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Bidded Price </th>
              <td mat-cell *matCellDef="let row"> {{row.biddedPrice | currency:'INR':'symbol' }} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input1.value}}"</td>
            </tr>
          </table>

          <mat-paginator #paginatorFirst [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"></mat-paginator>

        </div> <br> <br>
      </div>

    </mat-tab>

    <!-- 3. consumer's Profile -->

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_circle</mat-icon>
        Consumer Profile
      </ng-template>
      <!-- profile details of consumer -->
      <mat-toolbar>
        <mat-icon color="accent">supervisor_account</mat-icon>
        <span>Profile</span>
      </mat-toolbar> <br>
      <div class="container-fluid">
        <mat-form-field color="accent">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. consumer" #input2>
        </mat-form-field>
        <div class="">
          <table mat-table [dataSource]="dataSource2" matSort #profileTb="matSort">

            <ng-container matColumnDef="consumerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Consumer Name </th>
              <td mat-cell *matCellDef="let row"> {{row.consumer_Name}} </td>
            </ng-container>

            <ng-container matColumnDef="consumerMail">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Consumer Mail ID </th>
              <td mat-cell *matCellDef="let row"> {{row.consumer_MailId}} </td>
            </ng-container>

            <ng-container matColumnDef="noOfProductsBidded">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No of Bidded products </th>
              <td mat-cell *matCellDef="let row"> {{row.no_of_Bidded_products}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input2.value}}"</td>
            </tr>
          </table>
          <mat-paginator #paginatorSecond [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</body>