<div class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow">
        <div class="container-fluid">
            <a class="navbar-brand text-success font-weight-bold" href="#">AgriSales.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="farmer" (click)="loader()">Farmer</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" routerLink="consumer" (click)="loader()">Consumer</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-success" (click)="loginAction()">Login</button> &nbsp;
                    <button class="btn btn-outline-success" (click)='signupAction()'>SignUp</button> &nbsp;
                    <button class="btn btn-outline-success" (click)="forgetPasswordAction()">Forget Password?</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="body">
    <img src="../../assets/images/Agri1.png" alt="" width="100%" height="570px">
</div>
<div class="footer fixed-bottom bg-success">
    <p class="text-center text-white">
      All rights reserved @ <a href="#" class="text-white" style="text-decoration: none;">AgriSales.com</a>
    </p>
</div>